{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/foro.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Crear nuevo foro</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Crear foro</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
